@import "~normalize.css";

@import "_variables";
@import "modules/hello.scss";

body {
  background: #34c;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.main-view {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.header {
  font-weight: 700;
  text-align: center;
  margin-bottom: 48px;
}

.glass {
  position: relative;
  &__image {
    width: 100%;
  }
  &__quantity {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 60%;
    left: 50%;
    font-size: 3em;
    color: black;
    font-weight: 500;
  }
}

.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &__add {
    font-weight: 300;
    background: white;
    border: none;
    border-radius: 8px;
    padding: 12px 40px;
    margin-top: 48px;
    margin-bottom: 32px;
    cursor: pointer;
  }

  &__remove {
    color: white;
    font-weight: 300;
    background: none;
    border: none;
    cursor: pointer;
  }
}

.history {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 10vh;
  &__table {
    border: 1px solid white;
    border-radius: 8px;
  }
  &__table th, &__table td {
    padding: 0.5em 1em;
  }
  &__refresh--js {
    font-weight: 300;
    background: white;
    border: none;
    border-radius: 8px;
    padding: 8px 24px;
    margin-top: 48px;
    cursor: pointer;
  }
}
